/* HTML5 display-role reset for older browsers */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



h1 {
    font-size: 36px;
    line-height: 40px;
}
 
h2 {
    font-size: 30px;
    line-height: 40px;
}
 
h3 {
    font-size: 24px;
    line-height: 40px;
}
 
h4 {
    font-size: 18px;
    line-height: 20px;
}
 
/* Won't be used here */
 
h5 {
    font-size: 14px;
    line-height: 20px;
}
 
h6 {
    font-size: 12px;
    line-height: 20px;
}


/* CSS Enhancements for Better User Experience */

::selection {
	background:#ececec;
	color:#000; /* Safari and Opera */
}
	
::-moz-selection {
	background:#ececec;
	color:#000; /* Firefox */
}

html {
	overflow-y:scroll;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

/* Brakes Text for Mobile */
.page-break {
	page-break-before:always;
}

input[type=submit], label, select, .pointer {
	cursor:pointer;
}

/* Hack */
@media all and (-webkit-min-device-pixel-ratio: 1){
    selectors {
        properties: values;
    }
}

body {
	color: #000;	
	line-height: 1.8em;
	font-family: 'Arvo', serif;
}



h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.25em;
	padding-bottom: 0.7em;
	padding-right: 0;
	padding-left: 0;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.5em;
}

h3, h4 {
	font-size: 0.8em;
}

h5, h6 {
	font-size: 0.5em;
}

a, a:link, a:visited {
	color: #DB1010;
	text-decoration: none;	
	border: none;
	font-weight: bold;
}

a:hover, a:active {
	color: #CCC;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

p a {
	margin: -.5em;
	padding: .5em;
	position: relative;
}

.column-960{
	margin:auto;
	width: 720px;
	padding-right:240px;
	position:relative;
}

.nav{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
}

.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding: 10px 10px 10px 0px;
	font-weight:bold;
}	

.stage{
	background-color:#E4E4E4;
}

div{
	display:block;
}

.panel{
	height:200px;
	margin:auto;
	padding-left: 0;
    padding-right: 240px;
    display: block;
}

.button {
	margin:auto;
	padding-left: 280px;
    padding-right: 0;
    display: block;
}

canvas {	
	margin:auto;
	padding-left: 0;
    padding-right: 240px;
    display: block;
}

p.hide{
	display:none;
	margin: auto;
	padding-left:0;
	padding-right:20px;
	padding-top: 5px;
	font-size:1.6em;
	text-align:center;
}
