<section>
    <h2>Hello! Could you please introduce yourself?</h2>
	<form class="form-inline">
		<fieldset>
			<label>Name</label>
			<input type="text" data-bind="value:name, valueUpdate: 'afterkeydown'"/>
			<button type="submit" class"btn" data-bind="click: sayHello, enable: name">Click Me</button>
		<fieldset>
	</form>
	<h2>Clickcounter</h2>
	<div>
	    You've clicked <span data-bind="text: numberOfClicks"></span> times
	    <button data-bind="click: incrementClickCounter">Click me</button>
		<button data-bind="click: resetClickCounter">Reset me</button>
	</div>
	<h2>Addition</h2>
	
</section>